{{template "customer_header.html"}}

        <div class="row">
                <div class="col m2 l4"></div>
                <div class="col s12 m8 l4">
                    <form action="/costumer_register" method="POST">
                    
                <span class="blue-text text-darken-2">
                    <div class="card-panel">
                        <div class="row">
                                    <div class="input-field col s12 m12 l12" style="text-align:center">
                                    <h3>Register</h3>
                                </div>
                        </div>
                            <div class="row">
                                    <div class="input-field col s12 m12 l12">
                                        <input  type="text" placeholder="Full Name" name="name">
                                    
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="input-field col s12 m12 l12">
                                          <input  type="email" placeholder="Email" name="email">
                                    
                                    </div>
                                  </div>
                                  <div class="row">
                                        <div class="input-field col s12 m12 l12">
                                              <input  type="text" placeholder="Address" name="address">
                                        
                                        </div>
                                      </div>
                                      <div class="row">
                                            <div class="input-field col s12 m12 l12">
                                                  <input  type="text" placeholder="Username" name="username">
                                            
                                            </div>
                                          </div>
                                          <div class="row">
                                                <div class="input-field col s12 m12 l12">
                                                      <input  type="password" placeholder="Password" name="password">
                                                
                                                </div>
                                              </div>
                        <div class="row">
                            <div class="input-field col s12 m12 l12"  style="text-align:center">
                                <button id="login_button" class="waves-effect waves-light btn blue darken-1" type="submit">Register</button>
                            </div>
                            <div class="input-field col s12 m12 l12"  style="text-align:center">
                                <a href="/login">Back To Menu Login</a>
                            </div>
                        </div>
                    </div>
                </span>
    
            </form>
                </div>
                <div class="col m2 l4">
                </div>
            </div>

{{template "customer_footer.html"}}