
<footer class="page-footer blue">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Contact us</h5>
              <p class="grey-text text-lighten-4">need help or there is any problem with your experience from buy something from us.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Social Media</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
              
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2014 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">Help us</a>
          </div>
        </div>
      </footer>
</body>

</html>